
#  Local .terraform directories
**/.terraform/*

# vscode
**/.vscode/*

# plan files
**/*.tfplan

# the project's terraform state spec
**/remote_state.tf

# .tfstate files
**/*.tfstate
**/*.tfstate.*

# .tfvars files
**/*.tfvars

# log files
**/*.log

./0.output/
./9.config/
