
#  Local .terraform directories
**/.terraform/*

**/0.output/*

# vscode
**/.vscode/*

# plan files
**/*.tfplan

# the project's terraform state spec
**/remote_state.tf

# .tfstate files
**/*.tfstate
**/*.tfstate.*

# .tfvars files
**/*.tfvars

# secret files
**/*_ssh_private_key

# log files
**/*.log

