
/*
Create preauth URL for this (sub)project. 
Fill inn the blanks below. 
Create file called remote_state.tf, will be excluded from source code control. 
*/

terraform {
  backend "http" {
    update_method = "PUT"
    address = "<your-preauth-url-here>"
  }
}

data "terraform_remote_state" "the_remote_state_file" {
  backend = "http"
  config = {
    address = "<your-preauth-url-here>"
  }
}
